@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary-colour: #f3eae5;
    --text-dark: #2c2724;
    --white: #ffffff;
    --max-width: 1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.buttons{
    outline: none;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
img {
    display: flex;
    width: 100%;
}
a{
    text-decoration: none;
    transition: 0.3s;

}
body{
    font-family: "Montserrat", sans-serif;
}
nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}
.nav_header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-dark);
}
.nav_logo a {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}
.nav_menu_button {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.nav_links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--text-dark);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}
.nav_links.open {
    transform: translateY(0);
}
.nav_links a {
    font-weight: 600;
    color: var(--primary-colour);
}
.nav_links a:hover {
    color: var(--white);
}
.nav_button {
    display: none;
}




























